
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set the initial height for the carousel */
.carousel-container {
    position: relative;
    height: 400px; /* Set the initial height for desktop */
    width: 70%;
  }
  
  /* Adjust the height for smaller screens */
  @media (max-width: 768px) {
    .carousel-container {
      height: 200px;
      width: 100%;
    }
  }
  
  
  /* AnimatedLogo.css */

/* New styles for animated text */
#animated-text {
  font-family: "Cairo";
}
#animated-text-header {
  font-family: "Cairo";
  background: linear-gradient(90deg, #4A90E2, #42A5F5, #53C6E7, #66BB6A, #A3D755, #D4E157, #FFEE58, #FFCA28, #FFA726, #FF7043, #FF6A6A, #EC9F9F, #ED64A6, #F06292, #F48FB1, #AB47BC, #7E57C2, #5C6BC0, #42A5F5, #29B6F6);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 5s linear infinite;
}

@keyframes animate-gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

  /* .nextra-nav-container{
     display: none !important;
  } */