@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    .shadow-neumorphic {
      box-shadow: 8px 8px 16px #bec8d2, -8px -8px 16px #ffffff;
    }
  
    .shadow-neumorphic-inset {
      box-shadow: inset 6px 6px 12px #bec8d2, inset -6px -6px 12px #ffffff;
    }
  }

  /* index.css or global.css */
body {
  margin: 0;
}
